body{
    margin: 0;
    padding: 0;
    background-color: RGB(238,238,238);
    width: 100%;    
}
a{
    text-decoration: none;
}
a:link{
    color: RGB(255,255,255);
}
a:visited{
    color: RGB(255,255,255);
}

#backHeader{
    width: 100%;
    height: 3.9rem;
    line-height: 3.9rem;
    background-color: RGB(59,140,255);
    color: RGB(255,255,255);
    padding:0rem 3rem;
    position: sticky;
    top: 0;
}
#backHeaderBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.backHeadRightBox{
    width: 70%;
    height: 3.9rem;
    /* background-color: red; */
    text-align: right;
}
.backHeadRightBox img{
    width: 3rem;
    height: 3rem;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
}
.backHeadLeft{
    width: 30%;
    font-size: 1.3rem;
}
.backHeadRight{
    font-size: 0.8rem;
    margin-left: 0.8rem;
}

#backContentBox{
    width: 100%;
    height: 830px;
    margin-top: 10px;
    background-color: yellow;
}


#backBottom{
    width: 100%;
    height: 3rem;
    background-color: RGB(67,74,84);
    position: fixed;
    bottom: 0;
}